h1{
font: 20px Arial, sans-serif;
}

table{
width:800px;
}


table, th, td{
padding: 3px;
border: 1px solid black;
border-collapse: collapse;
font: 15px Arial, sans-serif;
}

th{
background-color: #CE93D8;
padding: 15px;
}

tr{
background-color: white;
}


